/* 창원단감아삭 */
@font-face {
  font-family: "CWDangamAsac-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 태백은하수체 */
@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #f1f2ed;
  background-color: #1e436f;
  font-family: "TAEBAEKmilkyway";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
